/**
 * Override any styles here that you want to change (optional)...
 */
html,body{
	padding:20px;
}

header{
	font-family: consolas;
   border: 4px solid #000000;
   border-radius: 35px;
   
   }
#category-menu{
	position:relative;
	margin-top: 20px;
	font-size: larger;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	padding:3px;
	text-align: center;
}

table {
	
	border: 2px solid #000000;
	border-radius: 25px;
}

#category{
	padding-left: 23px;
	font-style: italic;
	font-family:monospace;
}